[Unit]
Description=Octopus Radio Streaming Server
After=network.target

[Service]
Type=simple
ExecStart=__DEPLOY_PATH__/octopus-backend
WorkingDirectory=__DEPLOY_PATH__
Restart=on-failure
RestartSec=5
Environment=HTTP_PORT=9000
Environment=WS_PORT=9001

[Install]
WantedBy=default.target
