[Unit]
Description=Octopus Radio Streaming Server
After=network.target

[Service]
Type=simple
ExecStart=__DEPLOY_PATH__/octopus-backend --config __DEPLOY_PATH__/streams.toml
WorkingDirectory=__DEPLOY_PATH__
Restart=on-failure
RestartSec=5
EnvironmentFile=__DEPLOY_PATH__/octopus.env

[Install]
WantedBy=default.target
